<log4net>
  <appender name="ADONetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="0"/>
    <threshold value="INFO"/>
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <connectionStringName value="iRocksDB"/>
    <commandText value="INSERT INTO Log (Date, Thread,Level, logger, Message, Exception, Context, Method, Parameters, UserName) VALUES (@Date, @Thread, @Level, @Logger, @Message, @Exception, @Context, @Method_name, @Parameters, @User_name)"/>
    <parameter>
      <parameterName value="@Date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout">
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Thread" />
      <dbType value="String" />
      <size value="32" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Logger" />
      <dbType value="String" />
      <size value="512" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{class_name}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Level" />
      <dbType value="String" />
      <size value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Message" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Exception" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.ExceptionLayout">
      </layout>
    </parameter>
 <parameter>
      <parameterName value="@Context"/>
      <dbType value="String"/>
      <size value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%x"/>
      </layout>
    </parameter>
     <parameter>
      <parameterName value="@Method_name"/>
      <dbType value="String"/>
      <size value="200"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{method_name}"/>
      </layout>
    </parameter>
     <parameter>
      <parameterName value="@Parameters"/>
      <dbType value="String"/>
      <size value="8000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{parameters}"/>
      </layout>
    </parameter>
    <parameter>
    <parameterName value="@User_name"/>
      <dbType value="String"/>
      <size value="512"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{user_name}"/>
      </layout>
    </parameter>

  </appender>
  <!-- On définit le logger root au niveau DEBUG et on l'associe à l'appender A1 -->
  <root>
    <level value="ALL" />
    <appender-ref ref="ADONetAppender" />
  </root>
</log4net>
